VITE_SUPABASE_URL=https://xxxx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_...

# Supabase Deploy - Prod
PROD_DB_PASSWORD=your_prod_password_here

# Supabase Deploy - Test
TEST_DB_PASSWORD=your_test_password_here
